{{#modal-view hidden=hidden closeAction=closeModal}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id='close-x'>
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{header}}</h4>
  </div>

  <div class='modal-body text-center'>
    Select a user and/or group to share.
    
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
            {{#item-chooser multiple=true
              selection=selectedUsers items=items
              placeholder="Search for a user or email" canCreate=true
              search=(action "searchEntities")
              as |opt|}}
              <div class="team-row team-row--member">
                <div class="team-row__avatar">
                  {{#if opt.option.avatarUrl}}
                    <img src={{opt.option.avatarUrl}}
                        class="margin-top-xxx-sm margin-bottom-xxx-sm upf-image upf-image--round-36">
                  {{else}}
                    <div class="upf-image upf-image--round-36 upf-image--alt margin-top-xxx-sm margin-bottom-xxx-sm">
                      <span>
                        {{name-initials (concat opt.option.first_name " " opt.option.last_name)}}
                      </span>
                    </div>
                  {{/if}}
                </div>
                <div class="team-row__infos">
                  <div>{{opt.option.first_name}} {{opt.option.last_name}}</div>
                  <div>{{opt.option.email}}</div>
                </div>
              </div>
            {{/item-chooser}}

        {{ownership-selection light=true entity=model}}
      </div>
    </div>
  </div>

  <div class='modal-footer'>
    <button {{action 'updateOwnership'}} class='margin-left-xx-sm upf-btn upf-btn--primary'>
      {{cta}}
    </button>
  </div>
{{/modal-view}}
