{{#modal-view hidden=hidden closeAction=closeModal}}
  <div class="modal-header modal-header__borderless">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id='close-x'>
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{header}}</h4>
  </div>

  <ul class="nav nav-tabs">
    {{#if tabs.groups}}
      <li {{action "setCurrent" "groups"}} class={{if groupsSelected "active" ""}} role="button">
        <a>Groups</a>
      </li>
    {{/if}}

    {{#if tabs.people}}
      <li {{action "setCurrent" "people"}} class={{if peopleSelected "active" ""}} role="button">
        <a>People</a>
      </li>
    {{/if}}
  </ul>

  <div class="modal-body upf-align--left">
    {{#if peopleSelected}}
      {{ownership-selection-modal/people selectedUsers=selectedUsers saveOwnership=(action "saveOwnership")}}
    {{else}}
      {{ownership-selection-modal/groups entity=model saveOwnership=(action "saveOwnership")}}
    {{/if}}
  </div>
{{/modal-view}}
