{{#modal-view hidden=hidden closeAction=closeModal}}
  <div class="modal-header modal-header__borderless">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id='close-x'>
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{header}}</h4>
  </div>

  <ul class="nav nav-tabs">
    {{#if tabs.people}}
      <li {{action "setCurrent" "people"}} class={{if peopleSelected "active" ""}} role="button">
        <a>People</a>
      </li>
    {{/if}}

    {{#if tabs.groups}}
      <li {{action "setCurrent" "groups"}} class={{if groupsSelected "active" ""}} role="button">
        <a>Groups</a>
      </li>
    {{/if}}
  </ul>

  <div class="modal-body upf-align--left">
    {{#if displayWarningMessage}}
      <div class="upf-alert upf-alert--warning margin-bottom-x-sm">
        <div class="upf-alert__text">
          <span>You already have an active selection for {{currentWindow}}. To select another tab, please clear your active selection first.</span>
        </div>
      </div>
    {{/if}}

    {{#if peopleSelected}}
      {{ownership-selection-modal/people selectedUsers=selectedUsers}}
    {{else}}
      {{ownership-selection-modal/groups ownership=ownership entity=model}}
    {{/if}}
  </div>

  <div class="modal-footer">
    <button 
     {{action "updateOwnership"}} class="margin-left-xx-sm upf-btn upf-btn--primary">
      {{cta}}
    </button>
  </div>
{{/modal-view}}
