{{#modal-view
  hidden=hidden closeAction=closeModal container="body"
  centered=true title=header borderlessHeader=true}}
  <ul class="nav nav-tabs">
    {{#if tabs.groups}}
      <li {{action "setCurrent" "groups"}} class={{if groupsSelected "active" ""}} role="button">
        <a>{{t "ownership_selection.tabs.groups"}}</a>
      </li>
    {{/if}}

    {{#if tabs.people}}
      <li {{action "setCurrent" "people"}} class={{if peopleSelected "active" ""}} role="button">
        <a>{{t "ownership_selection.tabs.people"}}</a>
      </li>
    {{/if}}
  </ul>

  {{#if peopleSelected}}
    {{ownership-selection-modal/people
      entity=model saveOwnership=(action "saveOwnership")}}
  {{else}}
    {{ownership-selection-modal/groups
      entity=model saveOwnership=(action "saveOwnership")}}
  {{/if}}
{{/modal-view}}
