{{#modal-view hidden=hidden closeAction=closeModal}}
  <div class="modal-header modal-header__borderless">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id='close-x'>
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{header}}</h4>
  </div>

  <ul class="nav nav-tabs">
    {{#if tabs.groups}}
      <li {{action "setCurrent" "groups"}} class={{if groupsSelected "active" ""}} role="button">
        <a>{{t "ownership_selection.tans.groups"}}</a>
      </li>
    {{/if}}

    {{#if tabs.people}}
      <li {{action "setCurrent" "people"}} class={{if peopleSelected "active" ""}} role="button">
        <a>{{t "ownership_selection.tabs.people"}}</a>
      </li>
    {{/if}}
  </ul>

  {{#if peopleSelected}}
    {{ownership-selection-modal/people entity=model
      saveOwnership=(action "saveOwnership")}}
  {{else}}
    {{ownership-selection-modal/groups entity=model 
      saveOwnership=(action "saveOwnership")}}
  {{/if}}
{{/modal-view}}
