{{#each orderedMedias as |media|}}
  <div class='community-row text-size-6 text-color-default-light'>
    <div class='community-row--line'>
      <span class='color-{{media.type}}'>
        <span class="fa-stack">
          <i class="fa fa-{{media.icon}}"></i>
          {{#if media.model.verified}}
            <i class="fa fa-check fa-stack-2x"></i>
          {{/if}}
        </span>
      </span>
      <span title={{media.communitySlug}}
            data-toggle='tooltip'
            data-placement='bottom'>
        {{format-number media.communitySize}}
      </span>
    </div>
    <div class='community-row--line  text-size-5'>
      <span class='text-color-default-lighter text-size-3'>
        <i class="fa fa-exchange"></i>
      </span>
      {{#if media.model.engagementRate}}
        <span title='engagement' data-toggle='tooltip' data-placement='bottom'>
          {{per-cent media.model.engagementRate}}
        </span>
      {{else}}
        <span title='engagements' data-toggle='tooltip' data-placement='bottom'>
          {{format-number media.model.averageFacebookShares}}/post
        </span>
      {{/if}}
    </div>
  </div>
{{/each}}
