{{#if draft.draftArticleAttachment}}
  {{#if editable}}
    {{upf-editor height=500 btnSize=bs-sm content=(readonly draft.draftArticleAttachment.body)
                 onContentChange=(action 'onContentChange')
                 uploaderHeaders=uploaderHeaders uploaderExtra=uploaderExtra}}
  {{else}}
    {{{draft.draftArticleAttachment.body}}}
  {{/if}}

  <div class="margin-top-xxx-sm">
    {{#each draft.draftComments as |draftComment i|}}
      {{#if draftComment.id}}
        <div class="draft-display__comment {{if draftComment.resolved 'draft-display__comment--resolved'}}">
          {{draftComment.text}}
        </div>
      {{/if}}
    {{/each}}
  </div>

  <div class="margin-top-xxx-sm">
    {{publishr/draft-comment-box draft=draft}}
  </div>
{{else if draft.draftMediaCollectionAttachment}}
  {{publishr/draft-media-list mediaCollection=draft.draftMediaCollectionAttachment}}
{{else if draft.draftYoutubeVideoAttachment}}
  <iframe width="100%" height="450" src={{draft.draftYoutubeVideoAttachment.embeddedURL}} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <div class="draft-display__youtube-video-description">
    <img src={{draft.contribution.supplier.influencer.avatarUrl}} class="upf-image upf-image--round-48">
    <div class="text-color-default-light">
      <div class="text-size-6 text-style-bold">{{draft.contribution.supplier.influencer.name}}</div>
      <div class="text-color-default-lighter">{{format-date draft.createdAt 'MMM DD, YYYY'}}</div>
      <div class="margin-top-xxx-sm">
        {{draft.draftYoutubeVideoAttachment.caption}}
      </div>
    </div>
  </div>
{{/if}}
