<iframe width="100%" height="450" src={{item.embeddedURL}} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<div class="draft-display__youtube-video-description">
  <img src={{item.draft.contribution.supplier.influencer.avatarUrl}} class="upf-image upf-image--round-48">
  <div class="text-color-default-light">
    <div class="text-size-6 text-style-bold">{{item.draft.contribution.supplier.influencer.name}}</div>
    <div class="text-color-default-lighter">{{format-date item.draft.createdAt 'MMM DD, YYYY'}}</div>
    <div class="margin-top-xxx-sm">
      {{item.caption}}
    </div>
  </div>
</div>
