<div class="modal-body text-center margin-top-x-sm margin-bottom-x-sm padding">
  <p class="text-size-4 text-color-default-lighter">{{t "summernote_modals.pdf.label"}}</p>
  {{file-uploader allowedExtensions=allowedExtensions method="POST"
                  extra=uploaderExtra headers=uploaderHeaders
                  beforeUpload=(action "resetPDFUpload")
                  didUpload=(action "pdfUploaded")}}
  {{#if pdfName}}{{pdfName}}{{/if}}
</div>

<div class="modal-footer">
<button {{action "insertPDF"}} disabled={{noPDFUploaded}}
          class="margin-left-xx-sm upf-btn upf-btn--primary">
    {{t "summernote_modals.pdf.cta"}}
  </button>
</div>
