<div class="clearfix">
  {{#if media.engagement_rate}}
    <p class="pull-right">{{per-mille media.engagement_rate}}</p>
  {{else if media.averageFacebookShares}}
    <p class="pull-right">{{format-number media.averageFacebookShares}}/post</p>
  {{/if}}
  {{fa-icon icon}}
</div>
<div class="progress">
  <div class="progress-bar"
       role="progress-bar"
       aria-valuenow={{position}}
         aria-valuemin="0"
       aria-valuemax="100"
       style={{style}}>
    <span class="sr-only">{{position}}%</span>
  </div>
</div>
