<div class="modal-body upf-align--center">
  {{#input-wrapper}}
    <p class="text-size-4 text-color-default-lighter">
      {{t "export_influencers.export.description"}}
    </p>

    {{universal-selection
      current=current multiple=false placeholder=placeholder canCreate=true
      createItemComponent="universal-export/create-item"
      displayEmptyEntities=true}}

    {{#if errors}}
      <div class="alert alert-danger">
        {{#each errors as |error|}}
          <p>{{error}}</p>
        {{/each}}
      </div>
    {{/if}}
  {{/input-wrapper}}
</div>

<div class="modal-footer">
  {{log current}}
  {{#loading-button
    current slowAction="submit" initiallyDisabled=disabledExport
    class="margin-left-xx-sm upf-btn upf-btn--primary"}}
    {{t "export_influencers.export.cta"}}
    {{#if current}}
      {{t (concat "export_influencers.export." current.type)}}
    {{/if}}
  {{/loading-button}}
</div>
