<div class="modal-body upf-align--center">
  {{#input-wrapper}}
    <p class="text-size-4 text-color-default-lighter">
      {{t "export_influencers.export.description"}}
    </p>

    <UniversalSelection @current={{this.current}} @multiple={{false}} @placeholder={{this.placeholder}}
                        @canCreate={{true}} @entityTypes={{this.availableDestinations}}
                        @createItemComponent="universal-export/create-item" @displayEmptyEntities={{true}} />

    {{#if this.errors}}
      <div class="alert alert-danger">
        {{#each this.errors as |error|}}
          <p>{{error}}</p>
        {{/each}}
      </div>
    {{/if}}
  {{/input-wrapper}}
  {{#if this.displayInfo}}
    <div class="margin-left-xx-sm margin-right-xx-sm">
      <i class="fa fa-info-circle text-color-bright-purple"></i>
      <span class="text-size-4">
        {{t "export_influencers.export.info"}}
      </span>
    </div>
  {{/if}}
</div>

<div class="modal-footer">
  <OSS::Button @skin="primary" @label={{this.ctaLabel}} @loading={{this.loading}} disabled={{this.disabledExport}}
               class="margin-left-xx-sm" {{on "click" (action "submit")}} />
</div>
