{{#modal-view
  hidden=hidden closeAction=closeAction centered=true title=(t "upgrade_modal.title")}}
  <div class="modal-body text-center">
    <p class="text-color-default text-size-6">
      {{t "upgrade_modal.description"}}
    </p>

    <p class="text-size-4 text-color-default-lighter">
      {{description}}
    </p>

    {{#if upgradeFeatureImagePath}}
      <div class="margin-top-xxx-sm">
        <img src={{upgradeFeatureImagePath}} width="250px" />
      </div>
    {{/if}}

    <button {{action "clickedCTA"}} class="margin-top-xx-sm upf-btn upf-btn--primary">
      {{cta}}
    </button>
  </div>
{{/modal-view}}
