<div class="universal-selection-group__name fx-row fx-xalign-center">
  {{#if (eq this.icon.type "font-awesome")}}
    <i class="universal-selection-option__icon text-size-4 fa {{icon.name}}"></i>
  {{else}}
    <span class="universal-selection-option__icon text-size-4 upf-icon {{icon.name}}">
    </span>
  {{/if}}

  <span class="margin-left-xxx-sm text-style-capitalize">{{t (concat "export_influencers.group_name." this.group.groupName)}}</span>

  {{#if this.icon.new}}
    <OSS::Tag
      @skin="primary"
      @label={{t "export_influencers.group_name.new_tag"}}
      class="margin-left-px-12" />
  {{/if}}
</div>
{{yield}}
