{{#if (gt item.draftMedias.length 1)}}
  <ol class="carousel-indicators">
    {{#each item.draftMedias as |dm index|}}
      <li data-target="{{concat "#" elementId}}" data-slide-to={{index}} class="{{if (eq index 0) 'active'}}">
        <i class="fa fa-circle"></i>
      </li>
    {{/each}}
  </ol>
{{/if}}

<div class="carousel-inner" role="listbox">
  {{#each item.draftMedias as |media index|}}
    <div class="draft-media-card item {{if (eq index 0) 'active'}}">
      {{#if (eq media.type "image")}}
        <div class="draft-media-card__image">
          <img src={{media.url}} width="100%">
        </div>
      {{else}}
        <div class="draft-media-card__video">
          <video controls>
            <source src={{media.url}}>
          </video>
        </div>
      {{/if}}

      <div class="draft-media-card__caption">
        {{#if media.caption}}
          {{media.caption}}
        {{else}}
          No Caption
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
