{{#if item.isEditing}}
  <div class="input">{{input value=item.name}}</div>
  <div {{action 'onDelete'}} role="button" class="delete-button">
    {{fa-icon 'minus-circle'}}
  </div>
{{else}}
  {{#link-to itemRoutePath item.id class="link"}}
    <div class="name" title="{{item.name}}">
      {{item.name}}
    </div>
    {{#if hasCount}}
    {{!-- We'll probably remove this since it's displayed in the details page --}}
      <div class="count" title="This list contains {{item.count}} influencers">{{item.count}}</div>
    {{/if}}
  {{/link-to}}
{{/if}}
