<div class="modal-body text-center margin-top-x-sm margin-bottom-x-sm padding">
  <p class="text-size-4 text-color-default-lighter">{{t "summernote_modals.video.label"}}</p>
  {{file-uploader allowedExtensions=allowedExtensions method="POST"
                  extra=uploaderExtra headers=uploaderHeaders
                  beforeUpload=(action "resetVideoUpload")
                  didUpload=(action "videoUploaded")}}
  {{#if videoName}}{{videoName}}{{/if}}
</div>

<div class="modal-footer">
  <button {{action "insertVideo"}} disabled={{noVideoUploaded}}
          class="margin-left-xx-sm upf-btn upf-btn--primary">
    {{t "summernote_modals.video.cta"}}
  </button>
</div>
