<OSS::ModalDialog @title={{t "errors.402.limit_exceeded.modal_title"}} @close={{action "goBack"}}>
  <:content>
    {{t "errors.402.limit_exceeded.description" limit=this.limit used=this.used htmlSafe=true}}
  </:content>

  <:footer>
    <div class="fx-row fx-1 fx-malign-end fx-gap-px-10">
      <OSS::Button @label={{t "errors.402.limit_exceeded.go_back"}} {{on "click" (action "goBack")}}/>
      <OSS::Button @skin="primary" @label={{t "errors.402.limit_exceeded.cta"}} {{action "openSupportChannel"}} />
    </div>
  </:footer>
</OSS::ModalDialog>
