<div class="fx-col fx-malign-center fx-xalign-center fx-1 http-error-code-wrapper">
  <div class="fx-row width-pc-70 fx-gap-px-100">
    <div class="fx-col fx-gap-px-24 fx-1">
      <span class="font-size-h1 font-weight-semibold">
        {{t (concat "errors." @httpError ".title")}}
      </span>
      <span class="font-size-lg">
        {{t (concat "errors." @httpError ".subtitle")}}
      </span>
      <div class="fx-col fx-gap-px-3">
        {{#each this.errorHints as |hint|}}
          <div class="fx-row fx-gap-px-6 fx-xalign-center">
            <OSS::Icon @icon={{hint.icon}} />
            <span class="font-weight-semibold font-size-md">{{hint.label}}</span>
          </div>
        {{/each}}
      </div>
      <div class="fx-row fx-gap-px-12">
        <OSS::Button
          @icon="fa-comment"
          @label={{t (concat "errors." @httpError ".contact_support")}}
          {{on "click" this.openSupportChannel}}
        />
        <OSS::Button
          @skin="primary"
          @icon="fa-arrow-left"
          @label={{t (concat "errors." @httpError ".cta")}}
          {{on "click" (if (eq @httpError "404") (redirect-to url="/") this.refreshPage)}}
        />
      </div>
    </div>

    <img
      src="/@upfluence/ember-upf-utils/assets/images/ufo-abduction.svg"
      width="400"
      alt={{t "errors.default.img_alt"}}
    />
  </div>
</div>
