{{#if this.displayInfluencerNetworkModal}}
  <OSS::ModalDialog @title={{t "influencer_network.modal.title"}} @close={{@onClose}}>
    <:content>
      <OSS::Banner @plain={{true}} @title={{t "influencer_network.modal.title2"}}
                   @subtitle={{t "influencer_network.modal.subtitle"}}>
        <:custom-icon>
          <OSS::Badge @skin="success" @icon="far fa-check" />
        </:custom-icon>
      </OSS::Banner>
    </:content>

    <:footer>
      <div class="fx-row fx-1 fx-malign-space-between">
        <div class="fx-row fx-xalign-center fx-gap-px-5">
          <OSS::Checkbox @checked={{false}} @onChange={{this.dontShowInfluencerNetworkModal}} />
          <span>{{t "influencer_network.modal.dont_show"}}</span>
        </div>

        <div class="fx-row fx-gap-px-10">
          <OSS::Button @label={{t "influencer_network.modal.skip"}} {{on "click" @onClose}} />
          <OSS::Button @skin="primary" @label={{t "influencer_network.modal.learn_more"}}
                       {{on "click" this.openSupportLink}} />
        </div>
      </div>
    </:footer>
  </OSS::ModalDialog>
{{/if}}
