{{#unless this.hidden}}
  <OSS::Modal
    @title={{this.header}} @onClose={{this.closeModal}} @options={{hash container="body" centered=true borderlessHeader=true}}>
    <ul class="nav nav-tabs">
      {{#if this.tabs.groups}}
        <li {{action "setCurrent" "groups"}} class={{if this.groupsSelected "active" ""}} role="button">
          <a>{{t "ownership_selection.tabs.groups"}}</a>
        </li>
      {{/if}}

      {{#if this.tabs.people}}
        <li {{action "setCurrent" "people"}} class={{if this.peopleSelected "active" ""}} role="button">
          <a>{{t "ownership_selection.tabs.people"}}</a>
        </li>
      {{/if}}
    </ul>

    {{#if this.peopleSelected}}
      <OwnershipSelectionModal::People
        @entity={{this.model}} @saveOwnership={{action "saveOwnership"}}
        @displayDependentsSharing={{this.displayDependentsSharing}} />
    {{else}}
      <OwnershipSelectionModal::Groups
        @entity={{this.model}} @saveOwnership={{action "saveOwnership"}}
        @displayDependentsSharing={{this.displayDependentsSharing}} />
    {{/if}}
  </OSS::Modal>
{{/unless}}
