{{#unless @hidden}}
  <OSS::Modal
    @title={{t "export_influencers.title"}} @onClose={{@closeModal}}
    @options={{hash container="body" borderlessHeader=true centered=true}}>
    <ul class="nav nav-tabs">
      {{#if this.tabs.external}}
        <li {{on "click" (fn this.setCurrent "external")}} class={{if (eq this.currentTab "external") "active" ""}} role="button">
          <a>{{t "export_influencers.tabs.in_app"}}</a>
        </li>
      {{/if}}

      {{#if this.tabs.file}}
        <li {{on "click" (fn this.setCurrent "file")}} class={{if (eq this.currentTab "file") "active" ""}} role="button">
          <a>{{t "export_influencers.tabs.file"}}</a>
        </li>
      {{/if}}
    </ul>

    {{#if (eq this.currentTab "file")}}
      <UniversalExport::File
        @closeModal={{@closeModal}} @enableFullFileExport={{this.tabs.full_file}}
        @enableOverlapFileExport={{this.tabs.overlap_file}}
        @performFileExport={{this.performFileExport}}
        @selectedCount={{this.selectedInfluencerIds.length}} />
    {{else}}
      <UniversalExport::External
        @closeModal={{@closeModal}} @selectedCount={{this.selectedCount}}
        @performExport={{this.performExport}} />
    {{/if}}
  </OSS::Modal>
{{/unless}}
