<button type="button" class="uedit__toolbar-trigger" data-control-name="u-edit/shared-triggers/image"
        {{on "click" this.openModal}} {{enable-tooltip title=(t "uedit_editor.toolbar.image.title") trigger="hover"}}>
  <i class="fa fa-picture-o" />
</button>

{{#if this.displayModal}}
  <UEdit::SharedTriggers::Modals::ImageUpload
   @container={{@editor.container}} @insertImage={{this.insertImage}} @closeAction={{fn (mut this.displayModal) false}} />
{{/if}}
