<div class={{this.computedClassNames}} {{did-insert this.initialize}} {{will-destroy this.teardown}} ...attributes>
  <div role="button" class="panel-backdrop hidden" {{on "click" this.backdrop}}></div>
  <div class="hover-panel">{{yield}}</div>
</div>

