<OSS::Modal
 @title={{t "uedit_editor.toolbar.image.title"}}
 @options={{hash container=@container centered=true}}
 @onClose={{@closeAction}} class="uedit__image-modal">
  <div class="modal-body">
    <div class="form-group">
      <label>{{t "uedit_editor.toolbar.image.by_url.label"}}</label>
      <Input @value={{this.directURL}} @placeholder={{t "uedit_editor.toolbar.image.by_url.placeholder"}}
             class="form-control upf-input" />
    </div>

    {{#drag-and-drop
      class="drop-zone upf-align--center" onDragClass="drop-zone-active" onDropFiles=this.onDropFiles}}
      <img src="/assets/@upfluence/ember-upf-utils/images/upload.svg" alt={{t "uedit_editor.toolbar.image.title"}} />

      <br/>

      {{#if this.processing}}
        <h4>{{t "uedit_editor.toolbar.image.processing" filename=file.name}}</h4>
      {{/if}}

      <div class={{if this.processing 'hidden'}}>
        <h3>{{t "uedit_editor.toolbar.image.drop_file"}}</h3>

        <p>
          {{t "uedit_editor.toolbar.image.or"}} <br />

          {{file-uploader
            file=this.droppedFile allowedExtensions=this.allowedExtensions headers=this.uploaderHeaders
            extras=this.uploaderExtra text=(t "uedit_editor.toolbar.image.browse") beforeUpload=this.beforeUpload
            didError=this.onError didUpload=this.didUpload}}
        </p>
      </div>
    {{/drag-and-drop}}

    {{#if (and this.file.name (not this.processing))}}
      <div class="uploaded-files margin-top-x-sm">
        <label>{{t "uedit_editor.toolbar.image.processed_file.title"}}</label>

        <div class="file">
          <div class="details">
            <div><i class="fa fa-picture-o text-size-7" /></div>

            <div>
              <span class="text-ellipsis-140">{{this.file.name}}</span>
            </div>
          </div>

          <div class="status">
            <i class="fa fa-check-circle text-color-success text-size-8" />
          </div>
        </div>
      </div>
    {{/if}}
  </div>


  <div class="modal-footer upf-align--center">
    <button class="upf-btn upf-btn--primary" disabled={{and (not this.fileURL) (not this.directURL)}} {{on "click" this.addImage}}>
      {{t "uedit_editor.toolbar.image.title"}}
    </button>
  </div>
</OSS::Modal>
