<div class="fx-col fx-gap-px-6 fx-1" ...attributes>
  {{#if this.useGoogleAutocomplete}}
    <OSS::InputContainer
      @onChange={{this.onChange}}
      @value={{@value.address}}
      data-control-name="address-inline"
      {{setup-autocomplete callback=this.onAddressSelected}}
    />
  {{else}}
    <OSS::InputContainer @value={{@value.address}} @onChange={{this.onChange}} data-control-name="address-inline" />
  {{/if}}
</div>