<div class="fx-col fx-gap-px-12" ...attributes>
  {{#unless @hideNameAttrs}}
    <div class="fx-row fx-gap-px-12">
      <div class="fx-col fx-gap-px-6 fx-1">
        <label {{required-input}}>
          {{t "upf_utils.address_form.first_name"}}
        </label>
        <OSS::InputContainer
          @value={{@address.firstName}}
          @onChange={{fn this.onFieldUpdate "firstName"}}
          @placeholder={{t "upf_utils.address_form.placeholder.first_name"}}
          data-control-name="address-form-first-name"
          {{(if (eq @focus "first-name") (modifier "enable-input-autofocus"))}}
        />
      </div>

      <div class="fx-col fx-gap-px-6 fx-1">
        <label {{required-input}}>
          {{t "upf_utils.address_form.last_name"}}
        </label>
        <OSS::InputContainer
          @value={{@address.lastName}}
          @onChange={{fn this.onFieldUpdate "lastName"}}
          @placeholder={{t "upf_utils.address_form.placeholder.last_name"}}
          data-control-name="address-form-last-name"
          {{(if (eq @focus "last-name") (modifier "enable-input-autofocus"))}}
        />
      </div>
    </div>
  {{/unless}}

  {{#unless @hidePhoneNumber}}
    <div class="fx-col fx-gap-px-6">
      <label {{required-input}}>
        {{t "upf_utils.address_form.phone_number"}}
      </label>
      {{#if @usePhoneNumberInput}}
        <OSS::PhoneNumberInput
          @prefix={{this.phoneNumberPrefix}}
          @number={{this.phoneNumber}}
          @onChange={{this.onPhoneNumberUpdate}}
          @validates={{this.onPhoneNumberValidation}}
          data-control-name="address-form-phone"
          {{(if (eq @focus "phone") (modifier "enable-input-autofocus"))}}
        />
      {{else}}
        <OSS::InputContainer
          @value={{@address.phone}}
          @placeholder={{t "upf_utils.address_form.placeholder.phone"}}
          data-control-name="address-form-phone"
          {{(if (eq @focus "phone") (modifier "enable-input-autofocus"))}}
        />
      {{/if}}
    </div>
  {{/unless}}

  <div class="fx-col fx-gap-px-6">
    <label {{required-input}}>
      {{t "upf_utils.address_form.line_1"}}
    </label>
    {{#if this.useGoogleAutocomplete}}
      <div class="fx-col google-autocomplete-input-container" data-control-name="address-form-address1">
        <Input
          @value={{get @address (concat this.addressKey "1")}}
          class="upf-input"
          placeholder={{t "upf_utils.address_form.placeholder.line1"}}
          {{did-insert this.initAutoCompletion}}
          {{on "keyup" (fn this.onFieldUpdate (concat this.addressKey "1"))}}
          {{(if (eq @focus "line1") (modifier "enable-input-autofocus"))}}
        />
      </div>
    {{else}}
      <OSS::InputContainer
        @value={{get @address (concat this.addressKey "1")}}
        @onChange={{fn this.onFieldUpdate (concat this.addressKey "1")}}
        @placeholder={{t "upf_utils.address_form.placeholder.line1"}}
        data-control-name="address-form-address1"
        {{(if (eq @focus "line1") (modifier "enable-input-autofocus"))}}
      />
    {{/if}}
  </div>

  <div class="fx-col fx-gap-px-6">
    <label>
      {{t "upf_utils.address_form.line_2"}}
    </label>
    <OSS::InputContainer
      @value={{get @address (concat this.addressKey "2")}}
      @onChange={{fn this.onFieldUpdate (concat this.addressKey "2")}}
      @placeholder={{t "upf_utils.address_form.placeholder.line2"}}
      data-control-name="address-form-address2"
      {{(if (eq @focus "line2") (modifier "enable-input-autofocus"))}}
    />
  </div>

  <div class="fx-row fx-gap-px-12">
    <div class="fx-col fx-gap-px-6 fx-1" data-control-name="address-form">
      <label {{required-input}}>
        {{t "upf_utils.address_form.country"}}
      </label>
      <OSS::CountrySelector
        @sourceList={{this.countries}}
        @onChange={{this.applyCountry}}
        @value={{@address.countryCode}}
        data-control-name="address-form-country"
      />
    </div>

    <div class="fx-col fx-gap-px-6 fx-1">
      <label {{(if this.provincesForCountry (modifier "required-input"))}}>
        {{t "upf_utils.address_form.state"}}
      </label>
      {{#if this.provincesForCountry}}
        <OSS::ProvinceSelector
          @value={{@address.state}}
          @sourceList={{this.provincesForCountry}}
          @onChange={{this.applyProvince}}
          data-control-name="address-form-state"
          {{(if (eq @focus "state") (modifier "enable-input-autofocus"))}}
        />
      {{else}}
        <OSS::InputContainer
          @value={{@address.state}}
          @onChange={{fn this.onFieldUpdate "state"}}
          @placeholder={{t "upf_utils.address_form.placeholder.state"}}
          data-control-name="address-form-state"
          {{(if (eq @focus "state") (modifier "enable-input-autofocus"))}}
        />
      {{/if}}
    </div>
  </div>

  <div class="fx-row fx-gap-px-12">
    <div class="fx-col fx-gap-px-6 fx-1">
      <label {{required-input}}>
        {{t "upf_utils.address_form.city"}}
      </label>
      <OSS::InputContainer
        @value={{@address.city}}
        @onChange={{fn this.onFieldUpdate "city"}}
        @placeholder={{t "upf_utils.address_form.placeholder.city"}}
        data-control-name="address-form-city"
        {{(if (eq @focus "city") (modifier "enable-input-autofocus"))}}
      />
    </div>

    <div class="fx-col fx-gap-px-6 fx-1">
      <label {{required-input}}>
        {{t "upf_utils.address_form.postal_code"}}
      </label>
      <OSS::InputContainer
        @value={{@address.zipcode}}
        @onChange={{fn this.onFieldUpdate "zipcode"}}
        @placeholder={{t "upf_utils.address_form.placeholder.postal_code"}}
        data-control-name="address-form-zipcode"
        {{(if (eq @focus "zipcode") (modifier "enable-input-autofocus"))}}
      />
    </div>
  </div>
</div>
