<div class="fx-col fx-gap-px-12" ...attributes>
  {{#unless @hideNameAttrs}}
    <div class="fx-row fx-gap-px-12">
      <div class="fx-col fx-gap-px-6 fx-1">
        <span class="font-size-md font-color-gray-500">
          {{t "upf_utils.address_form.first_name"}}
        </span>
        <OSS::InputContainer
          @value={{@address.firstName}}
          @onChange={{fn this.onFieldUpdate "firstName"}}
          data-control-name="address-form-first-name" />
      </div>

      <div class="fx-col fx-gap-px-6 fx-1">
        <span class="font-size-md font-color-gray-500">
          {{t "upf_utils.address_form.last_name"}}
        </span>
        <OSS::InputContainer
          @value={{@address.lastName}}
          @onChange={{fn this.onFieldUpdate "lastName"}}
          data-control-name="address-form-last-name" />
      </div>
    </div>
  {{/unless}}

  <div class="fx-col fx-gap-px-6">
    <span class="font-size-md font-color-gray-500">
      {{t "upf_utils.address_form.phone_number"}}
    </span>
    {{#if @usePhoneNumberInput}}
      <OSS::PhoneNumberInput
        @prefix={{this.phoneNumberPrefix}}
        @number={{this.phoneNumber}}
        @onChange={{this.onPhoneNumberUpdate}}
        @validates={{this.onPhoneNumberValidation}}
        data-control-name="address-form-phone" />
    {{else}}
      <OSS::InputContainer @value={{@address.phone}} data-control-name="address-form-phone" />
    {{/if}}
  </div>

  <div class="fx-col fx-gap-px-6">
    <span class="font-size-md font-color-gray-500">
      {{t "upf_utils.address_form.line_1"}}
    </span>
    {{#if this.useGooglePlace}}
      <Input @value={{@address.address1}} class="upf-input" {{on "keyup" (fn this.onFieldUpdate "address1")}}
             data-control-name="address-form-address1" {{did-insert this.onSetup}} />
    {{else}}
      <OSS::InputContainer
        @value={{@address.address1}}
        @onChange={{fn this.onFieldUpdate "address1"}}
        data-control-name="address-form-address1" />
    {{/if}}
  </div>

  <div class="fx-col fx-gap-px-6">
    <span class="font-size-md font-color-gray-500">
      {{t "upf_utils.address_form.line_2"}}
    </span>
    <OSS::InputContainer
      @value={{@address.address2}}
      @onChange={{fn this.onFieldUpdate "address2"}}
      data-control-name="address-form-address2" />
  </div>

  <div class="fx-row fx-gap-px-12">
    <div class="fx-col fx-gap-px-6 fx-1" data-control-name="address-form">
      <span class="font-size-md font-color-gray-500">
        {{t "upf_utils.address_form.country"}}
      </span>
      <OSS::CountrySelector @sourceList={{this.countries}} @onChange={{this.applyCountry}}
                            @value={{@address.countryCode}} data-control-name="address-form-country" />
    </div>

    <div class="fx-col fx-gap-px-6 fx-1">
      <span class="font-size-md font-color-gray-500">
        {{t "upf_utils.address_form.state"}}
        {{#if this.provincesForCountry}}*{{/if}}
      </span>
      {{#if this.provincesForCountry}}
        <OSS::ProvinceSelector @value={{@address.state}} @sourceList={{this.provincesForCountry}}
                               @onChange={{this.applyProvince}}
                               data-control-name="address-form-state" />
      {{else}}
        <OSS::InputContainer
          @value={{@address.state}}
          @onChange={{fn this.onFieldUpdate "state"}}
          data-control-name="address-form-state" />
      {{/if}}
    </div>
  </div>

  <div class="fx-row fx-gap-px-12">
    <div class="fx-col fx-gap-px-6 fx-1">
      <span class="font-size-md font-color-gray-500">
        {{t "upf_utils.address_form.city"}}
      </span>
      <OSS::InputContainer
        @value={{@address.city}}
        @onChange={{fn this.onFieldUpdate "city"}}
        data-control-name="address-form-city" />
    </div>

    <div class="fx-col fx-gap-px-6 fx-1">
      <span class="font-size-md font-color-gray-500">
        {{t "upf_utils.address_form.postal_code"}}
      </span>
      <OSS::InputContainer
        @value={{@address.zipcode}}
        @onChange={{fn this.onFieldUpdate "zipcode"}}
        data-control-name="address-form-zipcode" />
    </div>
  </div>
</div>
