<div class="social-handle-container fx-col fx-1" ...attributes>
  <div class="social-handle-input upf-input fx-row fx-1 fx-xalign-center
                {{if @errorMessage 'social-handle-input--error'}}">
    <div class="{{if @selectorOnly 'selector-full-width'}} selector
                fx-row fx-gap-px-12 fx-malign-space-between"
         role="button" {{on "click" this.toggleSelector}}>
      <div class="fx-row fx-xalign-center fx-gap-px-12">
        <OSS::Icon
				  @style="brand" @icon={{get this.socialMediaIcons this.selectedNetwork.name}} class="font-color-{{this.selectedNetwork.name}}-500" />

        {{#if @selectorOnly}}
          <span>{{t (concat "upf_utils.social_media_handle.networks." this.selectedNetwork.name)}}</span>
        {{/if}}
      </div>
      <OSS::Icon @icon={{if this.selectorShown "fa-chevron-up" "fa-chevron-down"}} />
    </div>
    {{#unless @selectorOnly}}
      <Input class="fx-1" type="text" @value={{this.handle}} autocomplete="off"
             @placeholder={{t "upf_utils.social_media_handle.input_placeholder"}}
             {{on "blur" this.onBlur}} {{on "keydown" this.checkEnterKey}} />
    {{/unless}}
  </div>
  {{#if this.selectorShown}}
    <OSS::InfiniteSelect @items={{this.socialMediaNetworks}} @searchEnabled={{false}}
                         @onSelect={{this.onSelect}}
                         {{on-click-outside this.hideSelector}}>
      <:option as |network|>
        <div class="fx-row fx-xalign-center fx-gap-px-9 margin-left-px-6
                    {{if (eq this.selectedNetwork network) 'row-selected'}}">
					<OSS::Icon
						@style="brand" @icon={{get this.socialMediaIcons network.name}} class="font-color-{{network.name}}-500" />
          <span class="symbol text-color-default-light fx-1">
            {{t (concat "upf_utils.social_media_handle.networks." network.name)}}
          </span>
          {{#if (eq this.selectedNetwork network)}}
            <OSS::Icon @icon="fa-check" class="font-color-primary-500 padding-right-px-6" />
          {{/if}}
        </div>
      </:option>
    </OSS::InfiniteSelect>
  {{/if}}
  {{#if @errorMessage}}
    <span class="font-color-error-500 margin-top-px-6">{{@errorMessage}}</span>
  {{/if}}
</div>
