<OSS::TogglableSection
  @title={{this.title}}
  @subtitle={{this.subtitle}}
  @badgeIcon="far fa-chart-bar"
  @toggled={{this.utmsEnabled}}
  @onChange={{this.toggleSwitchUpdate}}
  class="utm-container"
  ...attributes
>
  <:contents>
    <div class="activated-utms fx-col fx-1 fx-gap-px-12">
      {{#if this.variablesEnabled}}
        <Utils::TemplatedInputGroup
          @title={{t "utms.fields.source"}}
          @variables={{@variables}}
          @onChange={{this.onUtmSourceChange}}
          @value={{this.utmSource}}
          @placeholder={{t "utms.fields.source_placeholder"}}
          @required={{true}}
          data-control-name="utm_source_input"
        />
        <Utils::TemplatedInputGroup
          @title={{t "utms.fields.medium"}}
          @variables={{@variables}}
          @onChange={{this.onUtmMediumChange}}
          @value={{this.utmMedium}}
          @placeholder={{t "utms.fields.medium_placeholder"}}
          @required={{true}}
          data-control-name="utm_medium_input"
        />
        <Utils::TemplatedInputGroup
          @title={{t "utms.fields.campaign"}}
          @variables={{@variables}}
          @onChange={{this.onUtmCampaignChange}}
          @value={{this.utmCampaign}}
          @placeholder={{t "utms.fields.campaign_placeholder"}}
          @required={{true}}
          data-control-name="utm_campaign_input"
        />
      {{else}}
        <div class="fx-col fx-gap-px-6">
          <div class="fx-row">
            <span class="font-color-gray-500 font-size-md">
              {{t "utms.fields.source"}}
            </span>
            <span class="font-color-error-500">
              *
            </span>
          </div>
          <OSS::InputContainer
            @value={{this.utmSource}}
            @placeholder={{t "utms.fields.source_placeholder"}}
            @feedbackMessage={{this.validationErrors.utmSource}}
            data-control-name="utm_source_input"
            {{on "focusout" (fn this.validateField "utmSource")}}
            {{on "keyup" (fn this.notifyChanges "utmSource")}}
          />
        </div>

        <div class="fx-col fx-gap-px-6">
          <div class="fx-row">
            <span class="font-color-gray-500 font-size-md">
              {{t "utms.fields.medium"}}
            </span>
            <span class="font-color-error-500">
              *
            </span>
          </div>
          <OSS::InputContainer
            @value={{this.utmMedium}}
            @placeholder={{t "utms.fields.medium_placeholder"}}
            @feedbackMessage={{this.validationErrors.utmMedium}}
            data-control-name="utm_medium_input"
            {{on "focusout" (fn this.validateField "utmMedium")}}
            {{on "keyup" (fn this.notifyChanges "utmMedium")}}
          />
        </div>

        <div class="fx-col fx-gap-px-6">
          <div class="fx-row">
            <span class="font-color-gray-500 font-size-md">
              {{t "utms.fields.campaign"}}
            </span>
            <span class="font-color-error-500">
              *
            </span>
          </div>
          <OSS::InputContainer
            @value={{this.utmCampaign}}
            @placeholder={{t "utms.fields.campaign_placeholder"}}
            @feedbackMessage={{this.validationErrors.utmCampaign}}
            data-control-name="utm_campaign_input"
            {{on "focusout" (fn this.validateField "utmCampaign")}}
            {{on "keyup" (fn this.notifyChanges "utmCampaign")}}
          />
        </div>
      {{/if}}
    </div>
    {{#if this.displayPreview}}
      <hr />
      <div class="fx-1 fx-col fx-gap-px-6">
        <span class="font-size-md font-color-gray-500">{{t "utms.preview"}}</span>
        <p class="link-preview">
          <span class="font-color-primary-500">{{this.fieldUrl}}</span>
          <span>
            &quest;utm_source=<span class="font-color-primary-500">{{this.fieldSource}}</span>
          </span>
          <span>&amp;utm_medium=<span class="font-color-primary-500">{{this.fieldMedium}}</span></span>
          <span class="text-color-gray-500">
            &amp;utm_campaign=<span class="font-color-primary-500">{{this.fieldCampaign}}</span>
          </span>
        </p>
      </div>
    {{/if}}
  </:contents>
</OSS::TogglableSection>