<div class="modal-dialog {{if centered 'modal-dialog-centered'}} {{size}}" role="document">
  <div class="modal-content">
    <div class="modal-header
     {{if (not title) "padding-top-sm padding-bottom-xx-sm"}}
     {{if borderlessHeader "modal-header__borderless"}}">
      {{#if title}}
        <div class="modal-title">
          {{title}}
        </div>
      {{/if}}
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-x" {{action "closeAction"}}>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{yield}}
  </div>
</div>
