<div class="modal-dialog {{if centered 'modal-dialog-centered'}} {{size}}" role="document">
  <div class="modal-content">
    <div class="modal-header
     {{if (not modalTitle) "padding-top-sm padding-bottom-xx-sm"}}
     {{if modalHeaderBorderless "modal-header__borderless"}}">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-x">
        <span aria-hidden="true">&times;</span>
      </button>
      {{#if modalTitle}}
        <h4 class="modal-title">
          {{modalTitle}}
        </h4>
      {{/if}}
    </div>
    {{yield}}
  </div>
</div>
