{{#each this.orderedMedias as |media|}}
  <div class="community-row text-size-6 text-color-default-light">
    <div class="community-row--line">
      <span class="font-color-{{media.type}}-500">
        <span class="fa-stack">
          <OSS::Icon @style="brand" @icon={{concat "fa-" media.icon}} />
          {{#if media.model.verified}}
            <OSS::Icon @style="solid" @icon="fa-check fa-stack-2x" />
          {{/if}}
        </span>
      </span>
      <span {{enable-tooltip title=media.communitySlug}}>
        {{format-number media.communitySize}}
      </span>
    </div>
    <div class="community-row--line  text-size-5">
      <span class="font-color-gray-500 font-size-xs">
        <OSS::Icon @icon="fa-exchange" />
      </span>
      {{#if media.model.engagementRate}}
        <span {{enable-tooltip title="engagement"}}>
          {{per-cent media.model.engagementRate}}
        </span>
      {{else}}
        <span {{enable-tooltip title="engagements"}}>
          {{format-number media.model.averageFacebookShares}}/post
        </span>
      {{/if}}
    </div>
  </div>
{{/each}}
