<img src={{profile.avatarUrl}} class="img-preloader" onload={{action "imageHasLoaded"}}/>
<div class='profile-description__avatar'>
  {{#if isSelectable}}
    {{#if (eq overlayType 'selection')}}
      {{#toggle-area value=_selected callbackAction=toggleAction icon=selectedIcon}}
        <div class="profile-description__bgimg" style={{bgImgStyle}}></div>
      {{/toggle-area}}
    {{else if (eq overlayType 'splitOverlay')}}
      {{#split-overlay-area rightClick=rightClickAction leftClick=leftClickAction
                            rightToggled=rightToggled leftToggled=leftToggled}}
        <div class="profile-description__bgimg" style={{bgImgStyle}}></div>
      {{/split-overlay-area}}
    {{/if}}
  {{else}}
    <div class="profile-description__bgimg" style={{bgImgStyle}}></div>
  {{/if}}
</div>

<div class="profile-description__content">
  {{#link-to (concat sidePanelBasePath ".profile") profile.id
             class='profile-description__content--title upf-link--reset'
             title=profile.name}}
    {{profile.name}}
  {{/link-to}}

  {{#if hasNotifications}}
    <span class='upf-notification--inline'></span>
  {{/if}}

  <div class="profile-description__content--right">
    {{#if exportInfluencer}}
      <a {{action exportInfluencer bubbles=false}}
          class="profile-description__action upf-link--reset"
          title="Move Influencer"
          data-toggle="tooltip"
          data-placement="bottom">
        <i class="fa fa-share"></i>
      </a>
    {{/if}}

    <span title='Edit Influencer' data-toggle='tooltip' data-placement='bottom'>
      {{#link-to (concat sidePanelBasePath ".profile") profile.id
                 class='upf-link--reset profile-description__action'
                 bubbles=false}}
        <i class="fas fa-pencil-alt"></i>
      {{/link-to}}
    </span>

    {{#if displayContact}}
      <span title='Contact Influencer' data-toggle='tooltip' data-placement='bottom'>
        {{#link-to (concat sidePanelBasePath ".mailings.conversations") profile.id
                   class='upf-link--reset profile-description__action'
                   bubbles=false}}
          <i class="upf-icon upf-icon--messages"></i>
        {{/link-to}}
      </span>
    {{/if}}
  </div>

  <div class="secondary-line clearfix">
    <div class="fx-row fx-xalign-center fx-gap-px-12">
      {{#if this.profile.isNew}}
        <OSS::Tag @skin="primary" @label={{t "new"}} />
      {{/if}}

      {{#if profile.address}}
        {{display-field value=profile.address icon="map-marker-alt"}}
      {{/if}}
    </div>

    {{#if (or this.responseTimeScore this.isLdaCompliant)}}
      <div class="processed-features processed-features_container">
        {{#if this.responseTimeScore}}
          <OSS::Tag
            @skin={{this.responseTimeSkin}}
            @icon="far fa-envelope"
            @label={{if (eq this.responseTimeSpeed "alert")
                        (t "processed_features.alert")
                        (t "processed_features.default" length=this.responseTimeScore)}}
            {{enable-tooltip title=(t (concat "processed_features.tooltip_" this.responseTimeSpeed))}} />
        {{/if}}

        {{#if (and this.isLdaCompliant (not this.isInInboxWeb))}}
          <OSS::Tag
            @skin="success"
            @icon="far fa-check"
            @label={{t "processed_features.lda_compliant"}} />
        {{/if}}
      </div>
    {{/if}}

  </div>

  <div class="description text-size-4 text-color-default-light"
       {{enable-tooltip title=profile.description}}>
    {{profile.description}}
  </div>

  {{influencer/medias-list profile=profile}}

  {{yield}}
</div>
