<div class="modal-body text-center">
  {{#if this.hasMultiType}}
    {{#if this.limitReached}}
      <div class="upf-alert upf-alert--error">
        <div class="upf-alert__text">
          <span>
            {{t "export_influencers.limit_reached" exportLimitLeft=this.exportLimitLeft htmlSafe=true}}
          </span>
        </div>
      </div>
    {{/if}}

    <div class="row margin-bottom-sm">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="text-size-5 text-color-default-lighter margin-bottom-xxx-sm">
          {{t "export_influencers.file.data"}}
        </div>
        <div class="btn-group upf-radio-group" data-control-name="influencer_file_export_type_radio_buttons">
          {{#each this.types as |type|}}
            <RadioButton
              @value={{type.key}} @currentValue={{this.selectedType}} @label={{type.label}}
              @options={{this.types}} @onCheck="typeChanged" />
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="text-size-5 text-color-default-lighter margin-bottom-xxx-sm">
        {{t "export_influencers.file.file_format"}}
      </div>
      <div class="btn-group upf-radio-group" data-control-name="influencer_file_export_formats_radio_buttons">
        {{#each-in this.formats as |value label|}}
          <RadioButton
            @value={{value}} @currentValue={{this.selectedFormat}} @label={{label}}
            @options={{this.formats}} @onCheck="formatChanged" />
        {{/each-in}}
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <OSS::Button
    @skin="primary" @label={{t "export_influencers.file.cta"}} disabled={{this.btnLocked}}
    class="margin-left-xx-sm" {{on "click" this.submit}} />
</div>
