{{#modal-view hidden=hidden closeAction=closeModal centered=true
  borderlessHeader=true title=(t "export_influencers.title") container="body"}}
  <ul class="nav nav-tabs">
    {{#if tabs.external}}
      <li {{action "setCurrent" "external"}} class={{if externalSelected "active" ""}} role="button">
        <a>{{t "export_influencers.tabs.in_app"}}</a>
      </li>
    {{/if}}

    {{#if tabs.file}}
      <li {{action "setCurrent" "file"}} class={{if fileSelected "active" ""}} role="button">
        <a>{{t "export_influencers.tabs.file"}}</a>
      </li>
    {{/if}}
  </ul>

  {{#if fileSelected}}
    {{universal-export/file
      closeModal=closeModal enableFullFileExport=tabs.full_file
      enableOverlapFileExport=tabs.overlap_file
      selectedCount=selectedInfluencerIds.length}}
  {{else}}
    {{universal-export/external
      closeModal=closeModal selectedCount=selectedCount
      performExport=(action "performExport")}}
  {{/if}}
{{/modal-view}}
