{{#modal-view hidden=hidden closeAction=closeModal}}
  <div class="modal-header modal-header__borderless">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            id='close-x'><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Export Influencers</h4>
  </div>

  <ul class="nav nav-tabs">
    <li class={{if listSelected "active" ""}} role="button" {{action 'setCurrent' 'list'}}>
      <a>List</a>
    </li>

    {{#if tabs.campaign}}
      <li class={{if publishrSelected "active" ""}} role="button" {{action 'setCurrent' 'publishr'}}>
        <a>Workflow</a>
      </li>
    {{/if}}

    {{#if tabs.mailing}}
      <li class={{if mailingSelected "active" ""}} role="button" {{action 'setCurrent' 'mailing'}}>
        <a>Emailing</a>
      </li>
    {{/if}}

    {{#if tabs.stream}}
      <li class={{if streamSelected "active" ""}} role="button" {{action 'setCurrent' 'stream'}}>
        <a>Monitor</a>
      </li>
    {{/if}}

    {{#if tabs.basic_file}}
      <li class={{if fileSelected "active" ""}} role="button" {{action 'setCurrent' 'file'}}>
        <a>File</a>
      </li>
    {{/if}}
  </ul>

  {{#if fileSelected}}
    {{universal-export/file closeModal=closeModal enableFullFileExport=tabs.full_file
                                     selectedCount=selectedInfluencerIds.length}}
  {{else if listSelected}}
    {{universal-export/list closeModal=closeModal selectedCount=selectedCount}}
  {{else if publishrSelected}}
    {{universal-export/publishr closeModal=closeModal selectedCount=selectedCount}}
  {{else if mailingSelected}}
    {{universal-export/mailing closeModal=closeModal selectedCount=selectedCount}}
  {{else if streamSelected}}
    {{universal-export/stream closeModal=closeModal selectedCount=selectedCount}}
  {{/if}}
{{/modal-view}}
