<div class="modal-body">
  <p class="text-size-4 text-color-default-lighter text-center">
    {{t "ownership_selection.groups.description" entityName=this.entity.name htmlSafe=true}}
  </p>

  <label class="margin-top-xx-sm">
    {{t "ownership_selection.groups.label"}}
  </label>
  {{ownership-selection light=true entity=this.entity}}

  {{#if this.displayDependentsSharing}}
    <hr class="margin-top-px-18 margin-bottom-px-18" />
    <div class="fx-row fx-xalign-center fx-malign-space-between">
      <span class="font-color-gray-500">
        {{t "ownership_selection.share_mailings"}}
      </span>

      <OSS::ToggleSwitch
        @value={{this.shareDependents}} @onChange={{action "updateShareDependents"}} />
    </div>
  {{/if}}
</div>

<div class="modal-footer">
  <OSS::Button
    @skin="primary"
    @label={{t "ownership_selection.groups.cta"}}
    @loading={{this.updatingOwnership}}
    disabled={{not this.entity.ownedBy}}
    {{action "updateOwnership"}} />
</div>
