<span class='text-size-7 text-color-contrast padding-top-xxx-sm
             padding-bottom-xxx-sm'>
  {{title}}
</span>

{{#if editAllowed }}
  {{#if isEditing}}
    <div role="button" {{action 'exitEditMode'}} class="edit-button">
      <div class="icon">{{fa-icon exitEditIcon}}</div>
    </div>
  {{else}}
    <div role="button" {{action 'enterEditMode'}} class="edit-button">
      <div class="icon">{{fa-icon editIcon}}</div>
    </div>
  {{/if}}
{{/if}}
