{{yield}}

<div class='split-overlay'>
  <div class="left-side" {{action "leftSideClick" bubbles=false}}>
    {{fa-icon 'close'}}
  </div>
  <div class="right-side" {{action "rightSideClick" bubbles=false}}>
    {{fa-icon 'check'}}
  </div>
</div>
