<div class="fx-col fx-gap-px-12 margin-px-30">
  <Utils::AddressForm @address={{this.address}} @usePhoneNumberInput={{false}} @hideNameAttrs={{false}} @useGooglePlace={{true}}
                      @onChange={{this.onChange}} />
  <Utils::SocialMediaHandle @handle="nomad.technologies" @socialNetwork="instagram" @errorMessage="This is an error"
                            @onChange={{this.onSocialMediaHandlerChanged}} @selectorOnly={{false}} />
</div>
