 <li class="ember-power-select-option"
      aria-selected="{{ember-power-select-is-selected opt select.selected}}"
      aria-disabled={{ember-power-select-true-string-if-present opt.disabled}}
      aria-current="{{eq opt select.highlighted}}"
      data-option-index="{{groupIndex}}{{index}}"
      role="option">
      <span class="upf-icon upf-icon--{{iconName}}"></span>
      {{itemName}}
      <p style="float:right;">
        {{#if showImportButton}}
            <button class="upf-btn upf-btn--primary upf-btn--small" {{action "import"}}>
                Import
            </button>
        {{else}}
            0 influencers
        {{/if}}
      </p>
      <div style="clear:both;"></div>
</li>