<div class='profile-description__avatar'>
  {{#if isSelectable}}
    {{#if (eq overlayType 'selection')}}
      {{#toggle-area value=_selected callbackAction=toggleAction icon=selectedIcon}}
        <img src={{profile.avatarUrl}}/>
      {{/toggle-area}}
    {{else if (eq overlayType 'splitOverlay')}}
      {{#split-overlay-area rightClick=rightClickAction leftClick=leftClickAction
                            rightToggled=rightToggled leftToggled=leftToggled}}
        <img src={{profile.avatarUrl}}/>
      {{/split-overlay-area}}
    {{/if}}
  {{else}}
    <img src={{profile.avatarUrl}}/>
  {{/if}}
</div>

<div class="profile-description__content">
  {{#link-to (concat sidePanelBasePath ".profile") profile.id
             class='profile-description__content--title upf-link--reset'
             title=profile.name}}
    {{profile.name}}
  {{/link-to}}

  {{#if hasNotifications}}
    <span class='upf-notification--inline'></span>
  {{/if}}

  <div class="profile-description__content--right">
    {{#if exportInfluencer}}
      <a {{action exportInfluencer bubbles=false}}
          class="profile-description__action upf-link--reset"
          title="Move Influencer"
          data-toggle="tooltip"
          data-placement="bottom">
        <i class="fa fa-share"></i>
      </a>
    {{/if}}

    <span title='Edit Influencer' data-toggle='tooltip' data-placement='bottom'>
      {{#link-to (concat sidePanelBasePath ".profile") profile.id
                 class='upf-link--reset profile-description__action'
                 bubbles=false}}
        <i class="fa fa-pencil"></i>
      {{/link-to}}
    </span>

    {{#if displayContact}}
      <span title='Contact Influencer' data-toggle='tooltip' data-placement='bottom'>
        {{#link-to (concat sidePanelBasePath ".mailings.conversations") profile.id
                   class='upf-link--reset profile-description__action'
                   bubbles=false}}
          <i class="upf-icon upf-icon--messages"></i>
        {{/link-to}}
      </span>
    {{/if}}
  </div>

  <div class="secondary-line clearfix">
    <div>
      {{#if profile.isNew}}
        <span class="profile-description__content--new pull-left">{{t "new"}}</span>
      {{/if}}
      {{#if profile.address}}
        {{display-field value=profile.address icon="map-marker"}}
      {{/if}}
    </div>

    {{#if (or this.responseTimeScore this.isLdaCompliant)}}
      <div class="processed-features processed-features_container">
        {{#if this.responseTimeScore}}
          <div class="processed-features_tag processed-features_tag--{{this.responseTimeSpeed}}" data-toggle="tooltip" 
              title={{t (concat "processed_features.tooltip_" this.responseTimeSpeed)}} data-placement="bottom">
            <i class="fa fa-envelope"></i>
            <span>
              {{#if (eq this.responseTimeSpeed "slow")}}
                {{t "processed_features.slow"}}
              {{else}}
                {{t "processed_features.default" length=this.responseTimeScore}}
              {{/if}}
            </span>
          </div>
        {{/if}}

        {{#if this.isLdaCompliant}}
          <div class="processed-features_tag">
            <i class="fa fa-check"></i>
            <span>
              {{t "processed_features.lda_compliant"}}
            </span>
          </div>
        {{/if}}
      </div>
    {{/if}}

  </div>

  <div class='description text-size-4 text-color-default-light' title='{{profile.description}}'>
    {{profile.description}}
  </div>

  {{influencer/medias-list profile=profile}}

  {{yield}}
</div>
