<div class='profile-description__avatar'>
  {{#if isSelectable}}
    {{#if (eq overlayType 'selection')}}
      {{#toggle-area value=_selected callbackAction=toggleAction icon=selectedIcon}}
        <img src={{profile.avatar_url}}/>
      {{/toggle-area}}
    {{else if (eq overlayType 'splitOverlay')}}
      {{#split-overlay-area rightClick=rightClickAction leftClick=leftClickAction
                            rightToggled=rightToggled leftToggled=leftToggled}}
        <img src={{profile.avatar_url}}/>
      {{/split-overlay-area}}
    {{/if}}
  {{else}}
    <img src={{profile.avatar_url}}/>
  {{/if}}
</div>

<div class="profile-description__content">
  {{#link-to (concat sidePanelBasePath ".profile") profile.id
             class='profile-description__content--title upf-link--reset'
             title=profile.name}}
    {{profile.name}}
  {{/link-to}}

  {{#if hasNotifications}}
    <span class='upf-notification--inline'></span>
  {{/if}}

  <div class="profile-description__content--right">
    {{#if exportInfluencer}}
      <a {{action exportInfluencer bubbles=false}}
          class="profile-description__action upf-link--reset"
          title="Export Influencer"
          data-toggle="tooltip"
          data-placement="bottom">
        {{fa-icon "share"}}
      </a>
    {{/if}}

    <span title='Edit Influencer' data-toggle='tooltip' data-placement='bottom'>
      {{#link-to (concat sidePanelBasePath ".profile") profile.id
                 class='upf-link--reset profile-description__action'
                 bubbles=false}}
        {{fa-icon 'pencil'}}
      {{/link-to}}
    </span>

    {{#if displayContact}}
      <span title='Contact Influencer' data-toggle='tooltip' data-placement='bottom'>
        {{#link-to (concat sidePanelBasePath ".mailings.conversations") profile.id
                   class='upf-link--reset profile-description__action'
                   bubbles=false}}
          <i class="upf-icon upf-icon--messages"></i>
        {{/link-to}}
      </span>
    {{/if}}
  </div>

  <div class="secondary-line clearfix">
    {{#if profile.isNew}}
      <span class="profile-description__content--new pull-left">new</span>
    {{/if}}
    {{#if profile.address}}
      {{display-field value=profile.address icon="map-marker"}}
    {{/if}}
  </div>

  <div class='description text-size-4 text-color-default-light' title='{{profile.description}}'>
    {{profile.description}}
  </div>

  {{influencer/medias-list profile=profile meta=meta}}

  {{yield}}
</div>
