<div class="media-left">
  {{#if isSelectable}}
    {{#toggle-area value=profile.selected}}
      <img class="media-object" src={{profile.avatar_url}}>
    {{/toggle-area}}
  {{else}}
    <img class="media-object" src={{profile.avatar_url}}>
  {{/if}}
</div>
<div class="media-body">
  <h4 class="media-heading">{{profile.name}} {{#if profile.isNew}}<span class="label label-primary">New</span>{{/if}}</h4>
  {{display-field url=profile.email_link value=profile.email}}
  <p class="addr">{{display-field value=profile.address}}</p>
  <p class="desc">{{profile.description}}</p>
  {{yield}}
</div>
