<div class='profile-description__avatar'>
  {{#if isSelectable}}
    {{#if (eq overlayType 'selection')}}
      {{#toggle-area value=_selected callbackAction=toggleAction icon=selectedIcon}}
        <img src={{profile.avatar_url}}>
      {{/toggle-area}}
    {{else if (eq overlayType 'splitOverlay')}}
      {{#split-overlay-area rightClick=rightClickAction leftClick=leftClickAction
                            rightToggled=rightToggled leftToggled=leftToggled}}
        <img src={{profile.avatar_url}}>
      {{/split-overlay-area}}
    {{/if}}
  {{else}}
    <img src={{profile.avatar_url}}>
  {{/if}}
</div>

<div class="profile-description__content">
  {{#if profileRoutePath}}
    {{#link-to profileRoutePath
               profile.id
               class='profile-description__content--title upf-link--reset'
               title=profile.name}}
      {{profile.name}}
    {{/link-to}}
  {{else}}
    {{profile.name}}
  {{/if}}

  {{#if hasNotifications}}
    <span class='upf-notification--inline'></span>
  {{/if}}

  {{#if profile.isNew}}
    <span class="profile-description__content--new">new</span>
  {{/if}}

  {{#if profileRoutePath}}
    <span class="profile-description__content--new">new</span>
  {{/if}}

  {{#if profileRoutePath}}
    {{#link-to profileRoutePath profile.id
               class='upf-link--reset profile-description__action'}}
      <i class="upf-icon upf-icon--influencers"></i>
    {{/link-to}}
  {{/if}}
  
  {{#if profileRoutePath}}
    {{#link-to profileRoutePath profile.id
               class='upf-link--reset profile-description__action'}}
      {{fa-icon 'pencil'}}
    {{/link-to}}
  {{/if}}

  {{#if profileRoutePath}}
    {{#link-to profileRoutePath profile.id
               class='upf-link--reset profile-description__action'}}
      <i class="upf-icon upf-icon--messages"></i>
    {{/link-to}}
  {{/if}}

  {{#if profile.address}}
    {{display-field value=profile.address icon="map-marker"}}
  {{/if}}

  <div class='description text-size-4 text-color-default-light' title='{{profile.description}}'>
    {{profile.description}}
  </div>

  {{yield}}
</div>
