<div class='profile-description__avatar padding-right-xx-sm'>
  {{#if isSelectable}}
    {{#toggle-area value=_selected callbackAction=toggleAction}}
      <img src={{profile.avatar_url}}>
    {{/toggle-area}}
  {{else}}
    <img src={{profile.avatar_url}}>
  {{/if}}
</div>

<div class="profile-description__content">
  <span class='text-size-5 text-style-bold wrapped-text'>
    {{profile.name}}
    {{#if profile.isNew}}
      <span class="label label-primary">New</span>
    {{/if}}
  </span>

  {{display-field url=profile.email_link value=profile.email}}
  <p class='text-size-4'>{{display-field value=profile.address}}</p>
  <p class='description text-size-4 text-color-default-light'>
    {{profile.description}}
  </p>
  {{yield}}
</div>
