<div class='profile-description__avatar'>
  {{#if isSelectable}}
    {{#if (eq overlayType 'selection')}}
      {{#toggle-area value=_selected callbackAction=toggleAction icon=selectedIcon}}
        <img src={{profile.avatar_url}}>
      {{/toggle-area}}
    {{else if (eq overlayType 'splitOverlay')}}
      {{#split-overlay-area rightClick=rightClickAction leftClick=leftClickAction
                            rightToggled=rightToggled leftToggled=leftToggled}}
        <img src={{profile.avatar_url}}>
      {{/split-overlay-area}}
    {{/if}}
  {{else}}
    <img src={{profile.avatar_url}}>
  {{/if}}
</div>

<div class="profile-description__content">
  {{#if profileRoutePath}}
    {{#link-to profileRoutePath profile.id class='upf-link--reset'}}
      <div class='profile-description__content--title'>
        {{profile.name}}
      </div>
    {{/link-to}}
  {{else}}
    {{profile.name}}
  {{/if}}

  {{#if hasNotifications}}
    <span class='upf-notification--inline'></span>
  {{/if}}

  {{#if profile.address}}
    {{display-field value=profile.address icon="map-marker"}}
  {{/if}}

  {{#if profileRoutePath}}
    {{#link-to profileRoutePath profile.id
               class='upf-link--reset profile-description__action'}}
      &nbsp; {{fa-icon 'pencil' class='text-color-bright-purple'}}
    {{/link-to}}
  {{/if}}

  {{#if profile.isNew}}
    <span class="label label-primary">New</span>
  {{/if}}

  <p class='description text-size-4 text-color-default-light'>
    {{profile.description}}
  </p>

  {{yield}}
</div>
