{{#if session.isAuthenticated}}
  <section class='app-header__top'>
    {{#if hasFacade}}
      <div class='header-item'>
        {{#smart-link-to link=searchURL class='upf-link--reset'}}
          {{fa-icon 'search'}}
        {{/smart-link-to}}
      </div>

      <div class='header-item'>
        {{#smart-link-to link=listURL class='upf-link--reset'}}
          {{fa-icon 'list-ul'}}
        {{/smart-link-to}}
      </div>
    {{/if}}

    {{#if hasInbox}}
      <div class='header-item'>
        {{#smart-link-to link=mailingURL class='upf-link--reset'}}
          {{fa-icon 'envelope'}}
        {{/smart-link-to}}
      </div>
    {{/if}}
  </section>

  <section class='app-header__bottom'>
    <div class='header-item'>
      <a class="logout-btn upf-link--reset" {{action 'logout'}}>
          {{fa-icon 'power-off'}}
      </a>
    </div>
  </section>
{{/if}}
