{{#if session.isAuthenticated}}
  <section class='app-header__top'>
    {{#if hasFacade}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=searchURL class='upf-link--reset'}}
          {{fa-icon 'search'}}
        {{/smart-link-to}}
      {{/active-link}}

      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=listURL class='upf-link--reset'}}
          {{fa-icon 'list-ul'}}
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasInbox}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=mailingURL class='upf-link--reset'}}
          {{fa-icon 'envelope'}}
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasAnalytics}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=streamsURL class='upf-link--reset'}}
          {{fa-icon 'pie-chart'}}
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasPublishr}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=publishrCampaignsURL class='upf-link--reset'}}
          {{fa-icon 'fa-bullhorn'}}
        {{/smart-link-to}}
      {{/active-link}}

      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=publishrPaymentsURL class='upf-link--reset'}}
          {{fa-icon 'fa-usd'}}
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}
  </section>

  <section class='app-header__bottom'>
    <div class='header-item'>
      <a href="http://help.upfluence.co" class="upf-link--reset">
        {{fa-icon 'fa-question'}}
      </a>
    </div>

    {{#if isLogged}}
      <div class='header-item'>
        <a class="upf-link--reset" href="{{accountUrl}}">
          {{fa-icon 'cog'}}
        </a>
      </div>
    {{/if}}

    <div class='header-item'>
      <a class="logout-btn upf-link--reset" {{action 'logout'}}>
        {{fa-icon 'power-off'}}
      </a>
    </div>
  </section>
{{/if}}
