{{#if session.isAuthenticated}}
  <section class="app-header__top">
    <div class="header-item" {{enable-tooltip placement="right" trigger="hover" title=(t "left_menu.apps.publishr")}}>
      {{#feature-flagged "publishr_admin"}}
        <SmartLinkTo @link={{publishrDashboardURL}}
                         @cssClass={{if hasPublishrNotifications "upf-notification--corner"}}>
          <span class="upf-icon upf-icon--workflow"></span>
        </SmartLinkTo>
      {{else}}
        <a {{action "toggleUpgradeModal" bubbles=false}} role="upgrade">
          <span class="upf-icon upf-icon--workflow"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    </div>

    <div class="header-item" {{enable-tooltip placement="right" trigger="hover" title=(t "left_menu.apps.irm")}}>
      {{#feature-flagged "crm_web"}}
        <SmartLinkTo @link={{crmURL}}>
          <span class="upf-icon upf-icon--crm"></span>
        </SmartLinkTo>
      {{else}}
        <a {{action "toggleUpgradeModal" "crm" bubbles=false}} role="upgrade">
          <span class="upf-icon upf-icon--crm"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    </div>

    <div class="header-item" {{enable-tooltip placement="right" trigger="hover" title=(t "left_menu.apps.search")}}>
      {{#feature-flagged "facade_web"}}
        <SmartLinkTo @link={{listURL}} @cssClass={{if hasFacadeNotifications 'upf-notification--corner'}}>
          <span class="upf-icon upf-icon--search"></span>
        </SmartLinkTo>
      {{else}}
        <a {{action "toggleUpgradeModal" bubbles=false}}>
          <span class="upf-icon upf-icon--search"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    </div>

    <div class="header-item" {{enable-tooltip placement="right" trigger="hover" title=(t "left_menu.apps.inbox")}}>
      {{#feature-flagged "inbox_client"}}
        <SmartLinkTo @link={{inboxURL}}>
          <span class="upf-icon upf-icon--inbox"></span>
        </SmartLinkTo>
      {{else}}
        <a {{action "toggleUpgradeModal" "bulk_emailing" bubbles=false}} role="upgrade">
          <span class="upf-icon upf-icon--inbox"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    </div>

    <div class="header-item" {{enable-tooltip placement="right" trigger="hover" title=(t "left_menu.apps.payments")}}>
      {{#feature-flagged "publishr_admin"}}
        <SmartLinkTo @link={{publishrPaymentsURL}}
                         @cssClass={{if hasPaymentsNotifications "upf-notification--corner"}}>
          <span class="upf-icon upf-icon--finance"></span>
        </SmartLinkTo>
      {{else}}
        <a {{action "toggleUpgradeModal" bubbles=false}} role="upgrade">
          <span class="upf-icon upf-icon--finance"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    </div>

    <div class="header-item" {{enable-tooltip placement="right" trigger="hover" title=(t "left_menu.apps.client")}}>
      {{#feature-flagged "publishr_client"}}
        <SmartLinkTo @link={{publishrClientURL}}>
          <span class="upf-icon upf-icon--influencers"></span>
        </SmartLinkTo>
      {{/feature-flagged}}
    </div>

    <div class="header-item" {{enable-tooltip placement="right" trigger="hover" title=(t "left_menu.apps.analytics")}}>
      {{#feature-flagged "analytics_web"}}
        <SmartLinkTo @link={{streamsURL}}
                         @cssClass={{if hasAnalyticsNotifications "upf-notification--corner"}}>
          <span class="upf-icon upf-icon--monitor"></span>
        </SmartLinkTo>
      {{else}}
        <a {{action "toggleUpgradeModal" "monitor" bubbles=false}} role="upgrade">
          <span class="upf-icon upf-icon--monitor"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    </div>

    <div class="header-item" {{enable-tooltip placement="right" trigger="hover" html=true title=(t "left_menu.apps.livecapture")}}>
      {{#feature-flagged "acquisition_web"}}
        <SmartLinkTo @link={{acquisitionCampaignsURL}}>
          <span class="upf-icon upf-icon--acquisition"></span>
        </SmartLinkTo>
      {{else}}
        <a {{action "toggleUpgradeModal" "acquisition" bubbles=false}} role="upgrade">
          <span class="upf-icon upf-icon--acquisition"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    </div>
  </section>

  <section class='app-header__bottom'>
    <div class='header-item'>
      <a href={{this.globalSupportLink}} rel="noopener noreferrer" target="_blank" class="upf-link--reset">
        <span class='upf-icon upf-icon--help'></span>
      </a>
    </div>

    <div class="header-item">
      {{#if user}}
        {{#if user.avatar_url}}
          <img {{action "toggleUserMenu"}} src={{user.avatar_url}} class="margin-bottom-xx-sm upf-image upf-image--round-36"/>
        {{else}}
          <div {{action "toggleUserMenu"}} class="upf-image upf-image--round-36 upf-image--alt margin-bottom-xx-sm">
            <span>{{name-initials user.fullName}}</span>
          </div>
        {{/if}}
      {{/if}}

      <ul class="__left-menu__user-menu">
        <li>
          <div class="__left-menu__user-image">
            {{#if user}}
              {{#if user.avatar_url}}
                <img src={{user.avatar_url}} class="upf-image upf-image--round-36"/>
              {{else}}
                <div class="upf-image upf-image--round-36 upf-image--alt">
                  <span>{{name-initials user.fullName}}</span>
                </div>
              {{/if}}
            {{/if}}
           </div>
          <div class="__left-menu__user-info">
            <div>{{user.first_name}} {{user.last_name}}</div>
            <div>
              {{#each companies as |company|}}
                {{company.name}}
              {{/each}}
            </div>
          </div>
        </li>

        <li {{on "click" (action "openFeatureRequests")}}>
          <i class="fa fa-microphone margin-right-xxx-sm"></i>
          {{t "left_menu.profile.feature_requests"}}
        </li>

        <li {{on "click" (action "goToSettings")}}>
          <span class="upf-icon upf-icon--cog margin-right-xxx-sm"></span>
          {{t "left_menu.profile.account_settings"}}
        </li>

        <li {{on "click" (action "logout")}}>
          <span class="upf-icon upf-icon--exit margin-right-xxx-sm"></span>
          {{t "left_menu.profile.log_out"}}
        </li>
      </ul>
    </div>
  </section>
{{/if}}

<UpgradeModal @to={{this.upgradeTo}} @hidden={{this.hideUpgradeModal}} @closeAction={{action "toggleUpgradeModal" bubbles=false}} />
