{{#if session.isAuthenticated}}
  <section class='app-header__top'>
    {{#if hasFacade}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=listURL}}
          <span class='upf-icon upf-icon--search'></span>
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasInbox}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=inboxURL
                         cssClass=(if hasInboxNotifications 'upf-notification--corner')}}
          <span class='upf-icon upf-icon--inbox'></span>
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasPublishr}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=publishrCampaignsURL
                         cssClass=(if hasPublishrNotifications 'upf-notification--corner')}}
          <span class='upf-icon upf-icon--workflow'></span>
        {{/smart-link-to}}
      {{/active-link}}

      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=publishrPaymentsURL
                         cssClass=(if hasPaymentsNotifications 'upf-notification--corner')}}
          <span class='upf-icon upf-icon--finance'></span>
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasPublishrClient}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=publishrClientURL}}
          <span class='upf-icon upf-icon--influencers'></span>
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}

    {{#if hasAnalytics}}
      {{#active-link tagName='div' class='header-item'
                     activeClass='header-item--active'}}
        {{#smart-link-to link=streamsURL
                         cssClass=(if hasAnalyticsNotifications 'upf-notification--corner')}}
          <span class='upf-icon upf-icon--monitor'></span>
        {{/smart-link-to}}
      {{/active-link}}
    {{/if}}
  </section>

  <section class='app-header__bottom'>
    <div class='header-item'>
      <a href="http://help.upfluence.co" class="upf-link--reset">
        <span class='upf-icon upf-icon--help'></span>
      </a>
    </div>

    <div class="header-item">
      {{#if user}}
        {{#if user.avatar_url}}
          <img {{action "openUserMenu"}} src={{user.avatar_url}} class="margin-bottom-xx-sm upf-image upf-image--round-36"/>
        {{else}}
          <div {{action "openUserMenu"}} class="upf-image upf-image--round-36 upf-image--alt margin-bottom-xx-sm">
            <span>{{name-initials user.fullName}}</span>
          </div>
        {{/if}}
      {{/if}}

      <ul class="__left-menu__user-menu">
        <li>
          <div class='__left-menu__user-image'>
            {{#if user}}
              {{#if user.avatar_url}}
                <img src={{user.avatar_url}} class="upf-image upf-image--round-36"/>
              {{else}}
                <div class="upf-image upf-image--round-36 upf-image--alt">
                  <span>{{name-initials user.fullName}}</span>
                </div>
              {{/if}}
            {{/if}}
           </div>
          <div class='__left-menu__user-info'>
            <div>{{user.first_name}} {{user.last_name}}</div>
            <div>
              {{#each companies as |company|}}
                {{company.name}}
              {{/each}}
            </div>
          </div>
        </li>
        <li {{action "goToSettings"}}>
          <span class='upf-icon upf-icon--cog'></span> &nbsp; Account Settings
        </li>
        <li>
          <span class='upf-icon upf-icon--exit'></span> &nbsp; Log out
        </li>
      </ul>
    </div>
  </section>
{{/if}}
