{{#if session.isAuthenticated}}
  <div class="content">
    <div>
      {{#smart-link-to link=searchURL}}
        <div class="menu-button">
          {{fa-icon 'search'}}
        </div>
      {{/smart-link-to}}

      {{#smart-link-to link=listURL}}
        <div class="menu-button">
          {{fa-icon 'list-ul'}}
        </div>
      {{/smart-link-to}}

      {{#smart-link-to link=mailingURL}}
        <div class="menu-button">
          <div class="feature-status-label">&beta;eta</div>
          {{fa-icon 'envelope'}}
        </div>
      {{/smart-link-to}}

      <a class="logout-btn" {{action 'logout'}}>
        <div class="menu-button">
          {{fa-icon 'power-off'}}
        </div>
      </a>
    </div>
  </div>
{{/if}}
