{{#if session.isAuthenticated}}
  <section class="app-header__top">
    {{#active-link tagName="div" class="header-item" activeClass="header-item--active"}}
      {{#feature-flagged "crm_web"}}
        {{#smart-link-to link=crmURL}}
          <span class="upf-icon upf-icon--crm"></span>
        {{/smart-link-to}}
      {{else}}
        <a {{action "toggleCrmModal"}}>
          <span class="upf-icon upf-icon--crm"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    {{/active-link}}
    {{#active-link tagName="div" class="header-item" activeClass="header-item--active"}}
      {{#feature-flagged "facade_web"}}
        {{#smart-link-to link=listURL cssClass=(if hasFacadeNotifications 'upf-notification--corner')}}
          <span class="upf-icon upf-icon--search"></span>
        {{/smart-link-to}}
      {{else}}
        <a {{action "toggleUpgradeModal"}}>
          <span class="upf-icon upf-icon--search"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    {{/active-link}}

    {{#active-link tagName="div" class="header-item" activeClass="header-item--active"}}
      {{#feature-flagged "inbox_client"}}
        {{#smart-link-to link=inboxURL}}
          <span class="upf-icon upf-icon--inbox"></span>
        {{/smart-link-to}}
      {{else}}
        <a {{action "toggleUpgradeModal" "bulk_emailing"}} role="upgrade">
          <span class="upf-icon upf-icon--inbox"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    {{/active-link}}

    {{#active-link tagName="div" class="header-item" activeClass="header-item--active"}}
      {{#feature-flagged "publishr_admin"}}
        {{#smart-link-to link=publishrCampaignsURL
                         cssClass=(if hasPublishrNotifications "upf-notification--corner")}}
          <span class="upf-icon upf-icon--workflow"></span>
        {{/smart-link-to}}
      {{else}}
        <a {{action "toggleUpgradeModal"}} role="upgrade">
          <span class="upf-icon upf-icon--workflow"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    {{/active-link}}

    {{#active-link tagName="div" class="header-item" activeClass="header-item--active"}}
      {{#feature-flagged "publishr_admin"}}
        {{#smart-link-to link=publishrPaymentsURL
                         cssClass=(if hasPaymentsNotifications "upf-notification--corner")}}
          <span class="upf-icon upf-icon--finance"></span>
        {{/smart-link-to}}
      {{else}}
        <a {{action "toggleUpgradeModal"}} role="upgrade">
          <span class="upf-icon upf-icon--finance"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    {{/active-link}}

    {{#active-link tagName="div" class="header-item" activeClass="header-item--active"}}
      {{#feature-flagged "publishr_client"}}
        {{#smart-link-to link=publishrClientURL}}
          <span class="upf-icon upf-icon--influencers"></span>
        {{/smart-link-to}}
      {{/feature-flagged}}
    {{/active-link}}

    {{#active-link tagName="div" class="header-item" activeClass="header-item--active"}}
      {{#feature-flagged "analytics_web"}}
        {{#smart-link-to link=streamsURL
                         cssClass=(if hasAnalyticsNotifications "upf-notification--corner")}}
          <span class="upf-icon upf-icon--monitor"></span>
        {{/smart-link-to}}
      {{else}}
        <a {{action "toggleUpgradeModal" "monitor"}} role="upgrade">
          <span class="upf-icon upf-icon--monitor"></span>
          <i class="fa fa-lock"></i>
        </a>
      {{/feature-flagged}}
    {{/active-link}}
  </section>

  <section class='app-header__bottom'>
    <div class='header-item'>
      <a href="http://help.upfluence.co" target="_blank" class="upf-link--reset">
        <span class='upf-icon upf-icon--help'></span>
      </a>
    </div>

    <div class="header-item">
      {{#if user}}
        {{#if user.avatar_url}}
          <img {{action "toggleUserMenu"}} src={{user.avatar_url}} class="margin-bottom-xx-sm upf-image upf-image--round-36"/>
        {{else}}
          <div {{action "toggleUserMenu"}} class="upf-image upf-image--round-36 upf-image--alt margin-bottom-xx-sm">
            <span>{{name-initials user.fullName}}</span>
          </div>
        {{/if}}
      {{/if}}

      <ul class="__left-menu__user-menu">
        <li>
          <div class="__left-menu__user-image">
            {{#if user}}
              {{#if user.avatar_url}}
                <img src={{user.avatar_url}} class="upf-image upf-image--round-36"/>
              {{else}}
                <div class="upf-image upf-image--round-36 upf-image--alt">
                  <span>{{name-initials user.fullName}}</span>
                </div>
              {{/if}}
            {{/if}}
           </div>
          <div class="__left-menu__user-info">
            <div>{{user.first_name}} {{user.last_name}}</div>
            <div>
              {{#each companies as |company|}}
                {{company.name}}
              {{/each}}
            </div>
          </div>
        </li>

        <li {{action "openCanny"}}>
          &nbsp;<i class="fa fa-microphone"></i> &nbsp; Feature Requests
        </li>

        <li {{action "openUserlane"}}>
          &nbsp;<i class="fa fa-university"></i> &nbsp; Tutorials
        </li>

        <li {{action "goToSettings"}}>
          <span class="upf-icon upf-icon--cog"></span> &nbsp; Account Settings
        </li>

        <li {{action "logout"}}>
          <span class="upf-icon upf-icon--exit"></span> &nbsp; Log out
        </li>
      </ul>
    </div>
  </section>
{{/if}}

{{upgrade-modal
  to=upgradeTo hidden=hideUpgradeModal
  closeAction=(action "toggleUpgradeModal")}}
